<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!collaborateur">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Détails</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <div *ngIf="collaborateur">
      <div class="list card">

        <ion-item class="item-avatar">
          <ion-icon name="{{collaborateur.Picture}}" item-left (click)="editCollabo(collaborateur)"></ion-icon>
          <h2>{{collaborateur.Name}} {{collaborateur.Firstname}}</h2>
          <div *ngIf="collaborateur.Statut; then colActif else colInactif">Statut</div>
          <ng-template #colActif><p>Actif</p></ng-template>
          <ng-template #colInactif><p>Inactif</p></ng-template>
        </ion-item>

        <ion-item class="item-icon-left positive">
          <ion-icon name="mail" item-left (click)="sendSMS(collaborateur)"></ion-icon> {{collaborateur.Address}}<br>
          {{collaborateur.ZipCode}} <strong>{{collaborateur.Town}}</strong>
        </ion-item>

        <ion-item class="item-icon-left positive">
          <ion-icon item-left name="at"></ion-icon> {{collaborateur.Email}}
        </ion-item>

        <ion-item class="item-icon-left positive" (click)="callContact(collaborateur.Tel)">
          <ion-icon name="call" item-left></ion-icon> {{collaborateur.Tel}}
        </ion-item>
      </div>
  </div>

  <div padding>
      <button ion-button color="primary" block (click)="addCollaboToContact(collaborateur)">Ajouter au contact du Téléphone</button>
  </div>
  <div padding>
    <button ion-button color="primary" block (click)="addCollaboToAppli(collaborateur)">Ajouter à l'application</button>
  </div>

</ion-content>
